/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #ffbd48;
  --secondary-color: #2e2e2e;
  --third-color: #fefbf4; /* Mudado para o fundo desejado */
  --fourth-color: #ffffff;
}

body {
  background-color: var(--third-color);
  color: var(--secondary-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: url(assets/bg.png) no-repeat center;
  background-size: cover;
  height: 350px; /* Aumentar a altura do header */
}

main {
  padding: 2rem;
  background: url(assets/bg-pizza.png) no-repeat center center;
  background-size: cover;
  min-height: 100vh; /* Mantém a altura mínima para mobile */
}

.pizzas {
  position: relative;
  display: grid;
  grid-template-columns: 1fr; /* Uma coluna por padrão */
  gap: 1.5rem; /* Espaçamento entre itens */
  padding: 1rem; /* Padding em volta do grid */
}

.pizza-item {
  background: var(--third-color); /* Cor de fundo normal para o primeiro card */
  border: 4px solid #fff5de; /* Aumentada a borda para 4px */
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  overflow: hidden;
  position: relative; /* Para posicionar o ícone corretamente */
}

/* Opacidade do primeiro card de pizza mantida em 50% apenas na versão mobile */
.pizzas .pizza-item:first-child {
  background-color: #fefbf480; /* Fundo normal */
  border: 4px solid #fff5de; /* Bordas normais */
}

/* Removendo a opacidade do primeiro card nas versões tablet e desktop */
@media (min-width: 768px) {
  .pizzas .pizza-item:first-child {
    opacity: 1; /* Opacidade normal para tablet e desktop */
  }
}

.pizza-icon {
  position: absolute; /* Mantenha o ícone posicionado */
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.pizza-item img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Seção "Sobre" */
.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Permite que os filhos usem posicionamento absoluto em relação a ela */
  margin-top: 2rem;
  padding: 1.5rem; /* Aumenta o padding da seção Sobre */
  background: var(--third-color);
  flex-direction: column; /* Começamos com o layout em coluna */
  gap: 2rem; /* Espaçamento entre o texto e a imagem */
}

.sobre-content {
  display: flex;
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  width: 100%;
  max-width: 1200px;
  position: relative; /* Necessário para que a imagem possa se posicionar em relação a este contêiner */
  flex-direction: column; /* Coloca a imagem e o texto em colunas (imagem em cima e texto abaixo) */
  text-align: left; /* Deixa o texto alinhado à esquerda */
}

.sobre-texto {
  z-index: 1; /* Garante que o texto apareça acima da imagem */
  flex: 1;
  position: relative; /* Manter o texto em um nível normal, acima da imagem */
  padding-bottom: 2rem;
  max-width: 700px; /* Limita a largura máxima do texto */
}

/* Afastar as letras coloridas umas das outras e aproximá-las das letras normais */
.sobre-texto h1 span {
  letter-spacing: 1px; /* Aumenta o espaçamento entre as letras coloridas */
}

.sobre-imagem {
  position: relative; /* Ajusta a imagem para não sair da área do card */
  max-width: 60%; /* Limita a largura da imagem */
  height: auto;
}

/* A imagem ficará acima do texto na versão mobile e tablet */
@media (max-width: 767px) {
  .sobre-imagem {
    max-width: 80%; /* Aumenta a largura da imagem */
    height: auto; /* Ajuste de altura automática */
    margin-bottom: 1rem; /* Cria um espaçamento entre a imagem e o texto */
  }

  .sobre-content {
    flex-direction: column; /* Garante que o layout seja em coluna */
    text-align: center;
  }

  .sobre-texto {
    text-align: left; /* Alinha o texto à esquerda no mobile */
    margin-top: 1rem; /* Adiciona espaçamento no topo */
  }
}

/* A imagem ficará ao lado do texto apenas na versão desktop */
@media (min-width: 768px) {
  .sobre-imagem {
    max-width: 40%; /* Aumenta a largura da imagem para 40% */
    height: auto; /* Ajuste de altura automática */
  }

  .sobre-content {
    flex-direction: row; /* Organiza a imagem à esquerda do texto */
    gap: 2rem; /* Espaçamento entre a imagem e o texto */
  }

  .sobre-texto {
    text-align: left; /* Alinha o texto à esquerda no desktop */
  }
}

.sobre figure img {
  width: 100%;
  height: auto;
  object-fit: cover; /* A imagem vai se ajustar proporcionalmente ao contêiner */
  border-radius: 8px;
}

.mesas {
  max-width: 327px;
  width: 100%;
  border-radius: 6px;
}

/* Estilos dos botões */
.btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--third-color);
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: bold; /* Textos dos botões em negrito */
  transition: background-color 0.3s ease;
}

.btn:hover,
.btn:focus {
  background-color: #e1a236;
}

/* Alteração para o botão "Ler mais" - Torná-lo retangular com bordas arredondadas */
.btn-round {
  background-color: var(--primary-color);
  border: none;
  color: #000000; /* Texto preto dentro do botão */
  padding: 1rem 2rem; /* Aumenta o tamanho do botão */
  border-radius: 25px; /* Bordas arredondadas, mas mantendo o formato retangular */
  cursor: pointer;
  margin-top: 1rem;
  font-weight: bold; /* Textos dos botões em negrito */
  transition: background-color 0.3s ease;
}

.btn-round:hover,
.btn-round:focus {
  background-color: #e1a236;
}

/* Cor específica para cada letra no título */
.yellow {
  color: #ffbd48; /* Amarelo */
}

.red {
  color: #e63946; /* Vermelho */
}

.green {
  color: #2a9d8f; /* Verde */
}

/* Ajuste de espaçamento entre as letras "so" */
.sobre-texto h2 span {
  letter-spacing: 1px; /* Aumenta o espaçamento entre as letras "so" */
}

/* Responsividade */
@media (min-width: 768px) {
  header {
    height: 400px; /* Aumentar a altura do header para tablet */
  }

  .pizzas {
    grid-template-columns: repeat(2, 1fr); /* Duas colunas em telas maiores */
  }

  .sobre {
    flex-direction: column;
    align-items: center;
  }

  .sobre-content {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .sobre figure {
    margin-right: 1;
    margin-bottom: 1rem;
    max-width: 500px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 2rem;
    height: auto;
  }

  .pizzas {
    grid-template-columns: repeat(4, 1fr);
  }

  .sobre-content {
    flex-direction: row; /* Garante que o layout será em linha */
    justify-content: center;
    text-align: left;
  }

  .sobre-imagem {
    position: relative; /* Ajusta a imagem para não sair da área do card */
    top: -80px; /* Cria mais espaço entre a imagem e o texto */
    left: 0;
    transform: translateX(0);
    z-index: 0; /* Garante que a imagem fique atrás do texto */
    max-width: 100%; /* A imagem ocupa o 100% do espaço disponível */
  }

  .sobre-texto {
    margin-left: 0; /* Remove qualquer margem extra que possa existir */
  }
}
